* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    background-color: orange;
    min-height: 30%;
    width: 100%;
}

header div h1 {
    display: inline-block;
    min-width: 40%;
    height: 20%;
    padding-bottom: 5px;
    font-size: xx-large;
    font-family: cursive;
}

.cuerpo {
    padding: 5px 15px 5px 15px;
    margin: 3px;
}

.nave{
    display: inline-block;
    position: absolute;
    left: 53%;
    top: 2rem;
    min-width: 60%;
    align-items: end;
}

a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
    min-width: 8%;
    height: 10%;
    background-color: yellow;
    border-color: black;
    border: solid black 1.5px;
    text-align: center;
    border-radius: 10px;
}

.sup{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header div img {
    display: block;
    width: 100%;
    height: 30%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.425);
}

a:hover {
    background-color: wheat;
    color: orangered;
}


section {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    min-height: 70%;
}

.alpha {
    padding: 10px;
    margin: 2px;
    list-style-type: lower-alpha;
}

ol {
    margin: 5px;
}

ul {
    padding: 15px;
    margin: 0 0 0 15px;
}

li {
    padding: 5px;
    margin: 5px;
}

p {
    padding: 10px;
    margin: 5px;
}

dt {
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
}

dd {
    padding: 5px;
    margin: 5px;
}

h3 {
    padding: 10px;
    margin: 5px;
}

.seccion {
    display: block;
    width: 100%;
    height: 10%;
    border: solid 1.5px black;
    text-align: center;
}


section div h2 {
    font-size: x-large;
    text-align: center;
}

section div img {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 30%;
}

section div aside {
    position: relative;
    display: flex;
    width: 65%;
    display: inline-block;
}

article {
    margin: 5px;

}

.titulo p {
    text-decoration: underline;
    font-style: italic;

}

span {
    font-weight: bold;
}

table {
    background-color: grey;
    padding: 3px;


}

th {
    background-color: orange;
    padding: 3px;

}

td {
    background-color: aliceblue;
    text-align: center;
    padding: 3px;
}

fieldset {

    padding: 60px;
    margin: 15px;
    width: 70%;
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
}

label input {
    padding: 10px;
    margin: 5px;
}

button {
    width: 100px;
    height: 60px;
    background-color: chartreuse;
    border-radius: 5px;
    border-color: darkgreen;
    display: block;

}

iframe {
    border-radius: 2px;
    width: 120px;
    height: 70px;
}